body{
    font-size:12px;
    font-family:"Times New Roman";
    text-align:center;
    background:#e2e2e2;
}

#calculator{
    width:94%;
    height:auto;
    overflow:hidden;
    margin:10px auto;
    border:#fff 1px solid;
    padding-bottom:10px;
    background-color:#f2f2f2;
}
#calculator div{
    clear:both;
}
#calculator ul{
    padding:0;
    margin:5px 14px;
    border:#fff 1px solid;
    height:auto;
    overflow:hidden;
}

#calculator li{
    list-style:none;
    float:left;
    width:14.43%;
    margin:0.5%;
    display:inline;
    line-height:32px;
    font-size:32px;
    background:#eaeaea;
    padding:2.28%;
}
#calculator li.tool{
    background:#738FD8;
}
#calculator li.D06A15{
    background-color:#D06A15;
}
#calculator li:hover{
    background-color:#f9f9f9;
    cursor:pointer;
}
#calculator li:active{
    background-color:#fc0;
    cursor:pointer;
}
#calculator li.tool:active{
    background-color:#d8e8ff;
    cursor:pointer;
}

#calHeader{
    text-align:left;
    padding:10px 15px 5px;
}
.Label {
    width:97%;
    height:42px;
    line-height:42px;
    border:#e6e6e6 1px solid;
    border-bottom:#f2f2f2 1px solid;
    border-right:#f2f2f2 1px solid;
    margin:10px auto;
    text-align:right;
    font-size:3em;
    color:#999;
    direction:ltr;
}